<nav class="navbar navbar-return">

        <div class="navbar-container-left">
            <div class="navbar-item">
                <a href= {{ return_route }} class="navbar-item"><img height=50 src="/icons/return.svg" alt="return"></a>
            </div>
        </div>
</nav>