{{ form_start(create_episode_form, { 'action': path('create_episode') }) }}
    <input type="hidden" name="chapter_id" value="">

    <div class="edit-course-inputs">
        {{ form_widget(create_episode_form) }}
    </div>

    <button    
        type="submit"
        class="btn-default">
        Submit
    </button>
{{ form_end(create_episode_form) }}
