{{ form_start(edit_episode_form, { 'action': path('edit_episode') }) }}
    <input type="hidden" name="course_id" value="">
    <input type="hidden" name="episode_id" value="">

    <div class="edit-course-inputs">
         {{ form_widget(edit_episode_form) }}
    </div>
   
    <button    
        type="submit"
        class="btn-default">
        Submit Post
    </button>
{{ form_end(edit_episode_form) }}