{% extends 'admin_panel_base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}


    <h1>Kategorie</h1>

    <a href="/courses/create">
                Create new
            </a>


{% endblock %}