.cart-title{
    
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 2em;
}

.cart-title h1{
    width: 50%;
}

.cart-container{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 4em;
    margin-top: 2em;
}

.cart-container-left{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 40%;
}

.cart-container-right{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
}


.cart-list-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-left: 1px solid var(--navy);
    border-bottom: 1px solid var(--navy);
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.199);
}

.cart-summary-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-left: 1px solid var(--navy);
    border-bottom: 1px solid var(--navy);
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.199);
    width: 20%;
    padding: 1em;
}

.cart-summary-container h1{
    text-align: center;
}

.cart-summary-container h2{
    margin: 0;
}

.cart-list-element{
    display: flex;
    align-content: center;
    justify-content: center;
}

.cart-list-element button{
    margin-top: 2em;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.8s ease;
    border: none;
}

.cart-list-element button:hover {
    transform: rotate(360deg);
  }


/* From Uiverse.io by cssbuttons-io */ 
.c-button {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
  }
  
  .c-button--gooey {
    color: var(--brightblue);
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 4px solid var(--brightblue);
    border-radius: 0;
    position: relative;
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
  }
  
  .c-button--gooey .c-button__blobs div {
    background-color: var(--brightblue);
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
  }
  
  .c-button--gooey:hover {
    color: var(--white);
  }
  
  .c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
  }

  .cart-empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cart-empty img{
    width: 200px;
    height: 200px;
  }

  .cart-empty h2{
    text-align: center;
  }