.edit-course-container {
    display: flex;
    justify-content: center;
    margin-top: 6em;
}

.edit-course-nav {
    display: block;
    width: 10%;
    height: 20vh;
    margin-top: 2em;
}
.nav-button{
    height: 20%;
    border-style: none;
    border-left: 1px solid var(--lightblue);
    border-bottom: 1px solid var(--lightblue);
    color: var(--white);
    cursor: pointer;
    background-color: var(--navy);
    transition: all ease-in-out 0.2s
}

.nav-button:hover {
    background-color: var(--lightblue);
    color: var(--navy);
}

.edit-course-nav-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.edit-course-block{
    width: 90%;
    margin-bottom: 3em;
}

.edit-course-content {
    width: 60%;
    color: white;
    display: flex;
    justify-content: center; 
}

.edit-course-block-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--navy);
    box-shadow: 0px 0px 51px -19px rgba(0, 0, 0, 0.199);
    width: 80%;
    min-height: 50vh;
    padding: 2em;
    position: relative;
    z-index: 0;
    border-radius: 2em;
}

.edit-course-block-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--navy);
    opacity: 0.2;
    backdrop-filter: blur(10px);
    z-index: -1;
    pointer-events: none;
    border-radius: 2em;
}


.edit-course-block-content h2{
    text-align: left;
    width: 90%;
}

.edit-course-submit-btn{
    position: absolute;
    top: 1.5em;
    right: 5%;
}

.edit-course-edit-delete-btn{
    background-color: transparent;
}

.edit-course-edit-delete-btn span img {
    width: 15px;
    margin-right: 0px;
}
  

.edit-course-chapter-element{
    border: 1px solid var(--lightblue);
    border-radius: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--navy);
    color: var(--lightblue);
    margin: 2em;
    padding: 2em;
}

.chapter-header {
    width: 95%;
    border-bottom: 2px solid var(--brightblue);
    min-height: 3em;
    margin-bottom: 2em;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.chapter-header:hover .chapter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chapter-name {
    margin-left: auto;
}

.chapter-buttons{
    display: none;
    position: absolute;
    left: 33%;
    width: 33%;
    transition: all ease-in-out 0.2s;
}


.edit-course-chapter-list{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.edit-course-episode-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border-bottom: 1px solid var(--lightblue);
    margin-bottom: 2em;
}

.edit-course-inputs input, textarea{
    width: 90%;
    border-radius: 0.375rem;
    border: 1px solid var(--navy);
    outline: 0;
    background-color: var(--lightblue);
    padding: 0.75rem 1rem;
    color: var(--navy);
    margin-bottom: 2em;
  }

  .edit-course-inputs textarea{
    min-height: 6em;;
  }
  
  .edit-course-inputs input:focus {
    border-color: var(--brightblue);;
  }

  .edit-course-block-content-title{
    width: 100%;
    position: relative;
    top: -1em;
    border-bottom: solid 1px var(--navy);
  }


  .edit-course-chapter-element-create-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .chapter-create-inputs{
    width: 100%;
  }

  .chapter-create-container{
    width: 90%;
  }

/* modals */

.btn-close{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-close img{
    width: 2em;
}

.delete-course-buttons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 4em;
}

.delete-course-container{
    margin: 5em;
}


