.course-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-left: 10px;
}

.courses-list-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
}
.course-list-title{
    margin-top: 3em;
    margin-left: 5%;
    padding-left: 12%;
    /* text-shadow: -9px 3px 35px rgba(66, 68, 90, 1); */
}

.courses-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 70%;
    border-left: 1px solid var(--navy);
    border-bottom: 1px solid var(--navy);
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.199);
    margin-bottom: 5em;
    margin-top: 2em;
}
.courses-list-element-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.courses-list-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    cursor: pointer;
    font-size: 1em;
    margin: 2em;
    padding: 2em;
    width: 80%;
    min-height: 200px;
    border-bottom: 1px solid var(--navy);
}

.courses-list-element:hover{
    background-color: var(--lightblue);
    transition: background 0.3s ease-out;
    box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1);
}

.courses-list-element-details-section {
    padding-left: 5%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
}

.courses-list-element-details-section p { 
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 55px;
}

.courses-list-element-price-section{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: transparent;
}

.courses-list-element-image-section{
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    overflow: hidden;
}

.courses-list-element-image-section img{
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.courses-list-element-price-section .sliding-button{
    margin: 2em;
}

.courses-list-element-details-section-rating {
    display: flex;
    align-items: center;
}

.star-container{
    margin-right: 10px;
}

.star {
    font-size: 20px; 
    color: #666;
}

.star.filled {
    color: #ffa723;
}

.courses-list-element-details-section-createdby{
    margin-top: 2%;
    margin-bottom: 5%;
}





/* Carousel */

.best-courses-container{
  background-color: var(--navy);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.best-courses-title{
  color: var(--white);
}

.owl-carousel{
    color: var(--lightblue);
    border-bottom: 1px solid black;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.199);
}

.owl-carousel-single-tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.owl-carousel-single-tile-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.owl-carousel .owl-nav button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 15%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    transition: background 0.3s;
    pointer-events: all;
}

.owl-carousel .owl-nav button.owl-prev{
    background: linear-gradient(90deg, var(--navy), transparent);
}

.owl-carousel .owl-nav button.owl-next{
    background: linear-gradient(90deg, transparent, var(--navy));
}

.owl-carousel .owl-nav button img {
    width: 50px;
}

.owl-carousel .owl-nav button.owl-next:hover {
    background: linear-gradient(90deg, transparent, var(--brightblue));
}

.owl-carousel .owl-nav button.owl-prev:hover {
    background: linear-gradient(90deg, var(--brightblue), transparent);
}

.greeting{
    color: var(--navy);
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}
