.cshow-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: var(--lightblue);
}

.cshow-text-block{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

.cshow-container-right{
    width: 20%;
    padding-right: 25px;
    margin-right: 1%;
    border-left: 1px solid var(--navy);
    margin-top: 1%;
}

.cshow-container-left{
    width: 80%;
    height: 100%;
    margin-right: 1%;
    padding-bottom: 5em;
    box-shadow: 15px 0px 25px -12px rgba(66, 68, 90, 1);
}

.cshow-details{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2em;
}

.cshow-details-content{
    width: 60%;
    z-index: 2;
}

.cshow-course-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    max-width: 100%;
    background-color: var(--navy);
    border-bottom: 4px solid var(--navy);
    border-top: 4px solid var(--navy);
}

.cshow-course-img img{
    height: auto;
    object-fit: cover; 
    max-width: 100%;
    max-height: 60vh;
}


.cshow-videoplayer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    max-width: 100%;
    background-color: var(--navy);
    border-bottom: 4px solid var(--navy);
    border-top: 4px solid var(--navy);
}

.cshow-videoplayer-container video{
    height: 60vh;
    max-width: 100%;
}

.cshow-watch-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cshow-chapters-list-container h3 {
    text-align: center;
}

.cshow-chapters-list-container{
    position: fixed;
    width: 20%;
    height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--lightblue);
    color: var(--navy);
    padding: 0.5em;
}

.cshow-chapters-element-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: var(--navy);
    border-bottom: 1px solid var(--lightblue);
    border-top: 1px solid var(--lightblue);
    color: var(--lightblue);
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
}

.episode-blocked{
    cursor: default;
    display: flex;
    flex-direction: row;
}

.lock-img{
    height: 1em;
    margin-left: 1em;
}

.cshow-chapters-element-episode{
    cursor: pointer;
    list-style: none;
    transition: all ease-in-out 0.2s;
    width: 100%;
    display: flex;
    padding: 0.5em;
    justify-content:space-between;
    box-sizing: border-box;
    align-items: center;
}

.cshow-chapters-element-episode p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    margin-right: 1em;
}

.cshow-chapters-element-episode:hover {
    background-color: var(--lightblue);
    border-bottom: solid 1px var(--navy);
}

.cshow-chapters-element-episode-container {
    margin-top: 5px;
    display: none;
    width: 100%;
}

.cshow-chapters-element-episode-container ul{
    padding-left: 0;
}

.cshow-arrow-right, .cshow-arrow-down {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 10px;
}

.preview-select-status-btn-container{
    color: var(--white);
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 6em;
    top: 0;
    left: 65vw;
}

.preview-select-status-btn-container button{
    margin-left: 1em;
}

.btn-border{
    border: 3px solid var(--white);
}




.cshow-rating { 
    border: none;
    float: left;
  }
  
.cshow-rating > input { display: none; } 
.cshow-rating > label:before { 
    margin: 0.25em 0.15em 0.25em 0.15em ;
    font-size: 1.5em;
    font-family: FontAwesome;
    display: flex;
    flex-wrap: nowrap;
    content: "\f005";
}

.cshow-rating > label { 
    color: #ddd; 
    float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.cshow-rating > input:checked ~ label, /* show gold star when clicked */
.cshow-rating:not(:checked) > label:hover, /* hover current star */
.cshow-rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.cshow-rating > input:checked + label:hover, /* hover current star when changing rating */
.cshow-rating > input:checked ~ label:hover,
.cshow-rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.cshow-rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 


.btn-rate{
    border: 2px solid  var(--brightblue);
    background-color: var(--lightblue);
    border-radius: 0.9em;
    cursor: pointer;
    padding: 0.6em 1.8em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
    box-shadow: 0px 0px 5px 0px var(--navy);
    transition: 0.3s;
}

.btn-rate:hover{
    background-color: var(--brightblue);
}

.cshow-rating-section{
    background-color: var(--navy);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0%;
    right: 0%;
    border: none;
    border-radius: 0 0 0 50%;
    padding: 4em;
    padding-top: 0.5em;
}

.cshow-rating-section::before{
    background-color: var(--navy);
    position: absolute;
    top: 0%;
    right: 100%;
    border: none;
    border-radius: 0 0 0 50%;
    padding: 80px;
    content: "";
}

.cshow-rating-section::after{
    background-color: var(--lightblue);
    position: absolute;
    top: 0%;
    right: 100%;
    border: none;
    border-radius: 0 100% 0 0;
    padding: 80px;
    content: "";
}

.cshow-course-rating-section{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--lightblue);  
}

.cshow-user-rating-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cshow-rating-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-star{
    font-size: 1em;
    color: #FFD700; 
    margin: 0.25em;
}

.cshow-price-section{
    color: var(--white);
}

.cshow-btn-cart{
    margin: 0 50px 30px 50px;
}

.cshow-price-header{
    width: 200px;
    text-align: center;
}

.cshow-myrating-header{
    color:var(--white);
    margin-bottom: 0.25em;
}

.cshow-rating-blank-space{
    height: 22em;
    content: "";
    width: 40%;
}