.cshow-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10em;
}

.cshow-text-block{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;
}

.cshow-container-right{
    width: 20%;
}

.cshow-container-left{
    width: 80%;
}

.cshow-details{
    margin-left: 2em;
}

.cshow-course-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    max-width: 100%;
    background-color: var(--lightblue);
    border-bottom: 1px solid var(--navy);
}

.cshow-course-img img{
    height: 60vh;
    max-width: 100%;
}


.cshow-videoplayer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    max-width: 100%;
    background-color: var(--lightblue);
    border-bottom: 1px solid var(--navy);
}

.cshow-videoplayer-container video{
    height: 60vh;
    max-width: 100%;
}

.cshow-watch-container{
    display: flex;
    align-items: center;
    justify-items: center;
}

.cshow-chapters-element-episode{
    cursor: pointer;
    list-style: none;
}

.cshow-chapters-list-container h3 {
    text-align: center;
}

.cshow-chapters-list-container{
    position: fixed;
    width: 20%;
    height: 85vh;
    overflow-y: auto; 
    border-left: 1px solid var(--navy);
}

.cshow-chapters-element-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding-left: 1em;
}

.episode-blocked{
    cursor: default;
    display: flex;
    flex-direction: row;
}

.lock-img{
    height: 1em;
    margin-left: 1em;
}

.cshow-chapters-element-episode-container {
    padding-left: 20px;
    border-left: 2px solid #ddd;
    margin-top: 5px;
    display: none;
}

.cshow-arrow-right, .cshow-arrow-down {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 10px;
}


