.course-list-title-divided{
    display: flex;
    justify-content:space-between;
    padding-left: 15%;
    padding-right: 15%;
}

.course-list-title-left-side{
    display: flex;
    align-items: center;
    justify-content: left;
    text-shadow: -9px 3px 35px rgba(66, 68, 90, 1);
}

.course-list-title-right-side{
    display: flex;
    align-items: center;
    justify-content: right;
}

.courses-list-element-query{
    display: flex;
    align-items: center;
    justify-content: center;
}